.agent-card {
    position: relative;
    cursor: pointer;
}

.icons {
    display: none;
    gap: 30px;
    position: absolute;
    top: 72%;
    left: 25%;
    transition: all .3s ease;
}

.agent-card:hover .icons {
    display: flex;
}


.icon {
    color: var(--blue-color);
}

.agent-card h2 {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: "Shippori Mincho";
}

.agent-card p {
    color: var(--text-color);
    margin-top: 10px;
    font-size: 1rem;
}